In [7]:
#Example of a set
set={1,2,2,3,4}

In [2]:
list1=[1,2,3,3,4]
#To change lists to sets
set(list1)

{1, 2, 3, 4}

Set operations

In [8]:
#Adding an element 9 to set
set.add(9)
set

{1, 2, 3, 4, 9}

In [9]:
#To remove an item from set
set.remove (9)

In [10]:
set

{1, 2, 3, 4}

In [11]:
#To check if an item is in the set
1 in set

True

In [12]:
9 in set

False

In [14]:
set1={1,4,5,6}
#To find items common to both sets
set & set1

{1, 4}

In [15]:
#To finds all elements in both sets
set.union(set1)

{1, 2, 3, 4, 5, 6}

In [16]:
set2={1,4}
#To check whether set2 is a subset of set1
set2.issubset(set1)

True

Dictionaries

In [18]:
#A dictionay consists of keys and values
A={"key1":1,"key2":(1,1,1),"key3":[3,3,3,]}

In [19]:
#to get value associated with a key
A["key1"]

1

In [20]:
#Adding a new key and value to dictionary
A["key4"]=5

In [21]:
A

{'key1': 1, 'key2': (1, 1, 1), 'key3': [3, 3, 3], 'key4': 5}

In [22]:
#To delete a key from dictionary
del(A["key4"])

In [23]:
A

{'key1': 1, 'key2': (1, 1, 1), 'key3': [3, 3, 3]}

In [24]:
#To check whether a key is present
"key1" in A

True

In [25]:
"key4" in A

False

In [26]:
#To get all keys in A
A.keys()

dict_keys(['key1', 'key2', 'key3'])

In [27]:
#To get all values in A
A.values()

dict_values([1, (1, 1, 1), [3, 3, 3]])